.gap-1{
    gap: 1rem;
}
.title{
    color:var( --marine-blue);
    margin-bottom: 0.6rem;

}

.desc{
    color:var(--cool-gray)
}

form{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-field{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.container-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label{
    color:var(--marine-blue);
    font-weight: 500;
}

.input{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #ccc;
}

.input.error{
    border: 1px solid var(--strawberry-red);
}

.error-text{
    color:var(--strawberry-red);
}

.container-btn{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;

}

.btn{
   float: right;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--marine-blue);
    color:white;
    font-size: 16px;
    font-weight: 700;
}

.btn:hover{
    opacity: 0.8;
}

@media screen and (max-width:900px) {
    .title{
        font-size: 28px;
    }
    .desc{
        font-size: 14px;
    }

    form{
        gap:15px;
    }

    .input{
        height: 45px;
    }

    .btn{
        width: 105px;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width:599px){
    .label{
        font-size: 14px;
    }
}